.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  width: 30%;
}

.invisible {
  margin-bottom: 1rem;
  border: none;
}

.form-full-width {
  width: 100%;
}

.fieldset,
.fieldgroup {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 2rem;
}

.fieldgroup {
  border: 1px solid var(--gray-100);
  margin: 1rem 0;
}

.row-fieldset {
  flex-direction: row;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-100);
  border-top: 1px solid var(--gray-100);
  padding: 1.2rem 0 0;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 0;
}

.required {
  color: var(--fucsia-light);
}

.checkbox {
  width: 16px;
  height: 16px;
  padding-top: 1rem;
}
.input {
  height: 30px;
  font-size: 1rem;
}

.select {
  height: 35px;
  padding: 1px;
  font-size: 1rem;
}

.select-multiple {
  height: 135px;
  padding: 1px;
  font-size: 1rem;
}

.input:focus,
.input:focus-visible {
  border: 0.5px solid var(--green-light);
}

.description {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.submit {
  width: 200px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.submit-row {
  width: 120px;
  background-color: var(--green-light);
  color: var(--white);
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}
.submit-row:hover {
  opacity: 0.9;
}

.submit:hover {
  width: 200px;
  opacity: 0.9;
}

.textarea {
  height: 150px;
  font-size: 1rem;
}
