.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 2rem;
}

.label {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.required {
  color: var(--fucsia-light);
}

.input {
  height: 30px;
  width: 30%;
}

.select {
  height: 35px;
  width: 30.6%;
  padding: 1px;
}

.input:focus,
.input:focus-visible {
  border: 0.5px solid var(--green-light);
}

.submit {
  width: 200px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.submit:hover {
  width: 200px;
  opacity: 0.9;
}

.textarea {
  height: 150px;
  width: 30%;
}
