@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #00688c;
  --blue-dark: #002f3e;
  --blue-light: #66a4ba;
  --fucsia: #ff3cac;
  --fucsia-dark: #ac3379;
  --fucsia-light: #ff3cac;
  --yellow: #ffd50b;
  --yellow-dark: #bf9900;
  --green-light: #08bebe;
  --green-dark: #057878;
  --black: #000000;
  --white: #fff;
  --gray: #444;
  --fuente-principal: "Archivo Narrow", sans-serif;
}

html,
body {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: normal;
  font-size: 1.1rem;
}

.wrapper {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}
