:root {
  --blue: #00688c;
  --blue-dark: #002f3e;
  --blue-light: #66a4ba;
  --fucsia: #ff3cac;
  --fucsia-dark: #ac3379;
  --fucsia-light: #ff3cac;
  --violet: #ac3379;
  --violet-light: #d599bc;
  --violet-dark: #970057;
  --yellow: #ffd50b;
  --yellow-dark: #bf9900;
  --green-light: #08bebe;
  --green-dark: #057878;
  --black: #000000;
  --white: #fff;
  --gray--dark: #444;
  --gray: #777;
  --gray-100: #ccc;
  --gray-300: #999;
  --gray-light: #ddd;
  --fuente-principal: "Archivo Narrow", sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

strong {
  font-weight: 700;
}

.wrapper {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.section-before {
  padding: 0.625rem 2.5rem;
  margin: 1.5rem 0 1.5rem 1.9rem;
  border-left: solid #e0edf1 9px;
}

.section-before::before {
  content: "";
  height: 24px;
  width: 20px;
  position: absolute;
  top: 0px;
  left: 24px;
  background: var(--blue-light);
  border-bottom: 4px solid var(--white);
}

.heading-1 {
  color: var(--green-light);
  font-size: 3.2rem;
  font-weight: 300;
  margin: 4rem 0 1.5rem 0;
}

.heading-1.--blue {
  color: var(--blue);
  font-size: 3.2rem;
  font-weight: 300;
  margin: 4rem 0 1.5rem 0;
}

.heading-2 {
  color: var(--blue);
  font-size: 1.9rem;
  font-weight: 300;
}

.heading-3 {
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: 300;
  margin: 3rem 0 0 0;
}

.heading-services {
  font-size: 2.5rem;
  color: var(--violet-dark);
  font-weight: 300;
}

.heading-linking {
  font-size: 1.9 rem;
  color: var(--blue);
  font-weight: 300;
  text-align: center;
}

.link {
  color: var(--fucsia-light);
  cursor: pointer;
}

.link:hover {
  color: var(--fucsia-dark);
}
