.section-home {
  display: flex;
  padding: 1.5rem 1%;
  justify-content: space-between;
}

.intro {
  width: 23%;
  border: solid #ddd 6px;
  color: #444;
}

.intro::before {
  content: "";
  height: 20px;
  width: 14px;
  position: absolute;
  top: 33px;
  left: 9px;
  background: #ffd50b;
  border-bottom: 4px solid #fff;
  border-top: 4px solid #fff;
}

.intro p {
  font-size: 15px;
  color: var(--gray);
  font-weight: 300;
  padding: 0.5em 1em;
}

.linking,
.center {
  display: flex;
  flex-direction: column;
}

.center {
  width: 46%;
}

.testimonial {
  color: var(--white);
  background: var(--green-dark);
  padding: 2.5rem 5%;
}

.testimonial-paragraph {
  font-size: 1rem;
  position: relative;
  padding-left: 4rem;
}

.testimonial-paragraph:before {
  content: " ";
  width: 50px;
  height: 7px;
  left: 0;
  top: 8px;
  position: absolute;
  background-image: url("/icono-3puntos.png");
  background-repeat: no-repeat;
}

.testimonial-bloquote {
  font-size: 1.4rem;
  font-weight: 300;
}

.services {
  background-color: var(--gray-light);
  padding: 2.5rem 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.services h3 {
  width: 50%;
}

.services-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.services-list a {
  background-color: var(--violet);
  color: var(--white);
  width: auto;
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.7rem;
  position: relative;
}

.services-list a:before {
  content: " ";
  width: 40px;
  height: 33px;
  background-color: var(--violet-light);
  position: absolute;
  top: 0px;
  left: -50px;
}

.linking {
  width: 23%;
}

.linking a {
  color: var(--white);
  width: auto;
  display: flex;
  text-align: center;
  padding: 1.5rem;
}

.linking-microorganism a,
.linking-celular-line a,
.linking-plasmids a {
  color: var(--white);
  width: auto;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.linking-microorganism a {
  background-image: url("/boton-micro.jpeg");
}

.linking-microorganism a:hover {
  background-image: none;
  background-color: var(--green-light);
}

.linking-celular-line a {
  background-image: url("/boton-lc.jpeg");
}

.linking-celular-line a:hover {
  background-image: none;
  background-color: var(--yellow);
}

.linking-plasmids a {
  background-image: url("/boton-plasmidos.jpeg");
}

.linking-plasmids a:hover {
  background-image: none;
  background-color: var(--fucsia);
}
