.material {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--gray);
}

.fieldset strong {
  font-weight: 600;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--gray-100);
  margin-bottom: 2rem;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body div {
  width: 50%;
}

.body strong {
  font-weight: 700;
}

/* material detail list */
.material-detail-list {
  width: 50%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 1.5rem 0;
}
