.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3rem;
}

.nav a {
  background-color: var(--blue-light);
  padding: 0.4rem 0.9rem;
  color: var(--white);
  font-weight: 300;
}

.nav a:hover {
  background-color: var(--green-light);
}

.nav a:active {
  background-color: var(--blue);
}

.nav a:last-of-type {
  background-color: var(--white);
  border: 1px solid var(--green-light);
  color: var(--green-light);
}

.nav a:last-of-type:hover {
  background-color: var(--green-light);
  color: var(--white);
  border: 1px solid var(--green-light);
}
